<% if profile_signed_in? %>
  <div> Welcome <%= current_profile.email %> </div>
  <%= button_to "Sign out", destroy_profile_session_path, method: :delete %>
<% else %>
  <%= button_to "Sign in", new_profile_session_path %>
<% end %>
