@import "bootstrap";

main.form-signin, main.form-signup, main.form-edit, main.form-process-appointment {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;

  textarea#appointment_prescription {
    width: 5;
    height: 200px;
    width: 500px;
  }
}

main.profile-section, main.profiles-section, main.appointment-section, main.appointments-section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 55px;
  flex-direction: column;
  height: calc(100vh - 55px);
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

table.table.table-sm.caption-top {
  width: 50%;
}

main.profiles-section, main.appointments-section {
  table.table.table-sm.caption-top {
    width: 90%;
  }
}

p.notice.alert.alert-info.fixed-top {
  top: 55px;
}

th[scope="row"] {
  width: 50%;
}
